<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <h1>미니 포트폴리오 </h1>

        <nav>
            <ul>
                <li>뉴스</li>
                <li>블로그</li>
                <li>기타</li>
                <li>기타</li>
            </ul>
        </nav>

 
        <button class="login-button"><a href="login-enter">로그인인</a></button>
    
    </header>


    <div class="box1">
       
        <div>
           <h2>h2입니다다</h2>
           <p>p태그입니다.</p> 
        </div>

        <div>div임임</div>

        <div>div임임</div>

        <div>div임임</div>

        <div>div임임</div>

        <div>div임임</div>
    </div>
</body>

</html>