<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!--⭐⭐⭐url_for() 함수 : Flask에서 URL 경로를 자동으로 생성해주는 함수입니다.-->
    <!--정적 파일(static files) : 서버에서 처리되지 않고, 그대로 브라우저에 전달되는 파일. 예시:CSS,JavaScript,이미지 (JPG, PNG, SVG),글꼴(Font),동영상 파일 등-->
    <!--filename='index.css'는 그 static(엔드포인트)에 넘겨주는 **키워드 인자(매개변수)**입니다.
        Flask 내부적으로 static 경로를 처리할 때
        filename이라는 이름으로 static 폴더 안에서 찾을 파일 경로를 지정하게 되어 있어요.
    -->
</head>

<body>
    <header> <!--시멘틱태그(의미론적)/헤더(로고,네비게이션)-->
        <div class="header-inner"> <!--inner는 영어로 "안쪽의"라는 뜻이에요. 웹에서는 보통 레이아웃 안에서 가운데로 정렬된 콘텐츠 박스를 의미해요-->
            <h1><a href="">Portfolio - mini</a></h1> <!--사이트 제목-->

            <div class="top-box">
            <ul class="top"> <!-- (순서 없는 리스트): 메뉴 항목 전체를 감싸는 그룹-->
                <li><a class="login-button" href="{{ url_for('login_enter') }}">로그인</a></li><!--li : (리스트 항목): 각각의 메뉴 항목 / a : (하이퍼링크): 실제 클릭 가능한 링크-->
                <li><a href="{{ url_for('join_membership') }}">회원가입</a></li>
            </ul>
            </div>

            <div class="bottom-box">
            <ul class="bottom"> <!-- (순서 없는 리스트): 메뉴 항목 전체를 감싸는 그룹-->
                <li><a href="">contact</a></li><!--contact항목 / li : (리스트 항목): 각각의 메뉴 항목 / a : (하이퍼링크): 실제 클릭 가능한 링크-->
                <li><a href="">Portfolio</a></li>
                <li><a href="">Tools</a></li>
                <li><a href="{{ url_for('news')}}">뉴스</a></li>
                <li><a href="{{ url_for('board') }}">게시판</a></li>
                <!--기존 href에 url_for('gesipan')가 오류 발생해서 잠시 수정 시켜놓음 2025-04-22 -성문- -->
            </ul>
             </div>

        </div>

        </header>
        
  <div class="main-container">
  <!-- 왼쪽 열 -->
  <div class="left-column">
    <div class="main-div1">1번칸</div>
    <div class="main-div3">
        
        <div class="main-div3">
            <h2 class="news-title">NEWS</h2>
<div class="logo-container">
   
        
   
    
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>
    <div class="logo-box"><img src="{{ url_for('static', filename='images/그림1.png') }}" alt="헤럴드경제"></div>

 
  </div>
    </div>
</div>



    <div class="main-div5">5번칸</div>
  </div>

  <!-- 오른쪽 열 -->
  <div class="right-column">
    <div class="main-div2">2번칸 -미니 게시판판 </div>
    <div class="main-div4">4번칸 </div>
  </div>
</div>




    <footer> <!--시멘틱태그(의미론적) / 저작권,연락처,사이트 정보-->
        <div class="footer-inner">
            <div class="upper">
                <h1>Portfolio - mini</h1>

                <ul>
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보처리방침</a></li>
                    <li><a href="">고객센터</a></li>
                </ul>
            </div>
        </div>


    </footer>

</body>

</html>