<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>회원가입 창</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='join_membership.css') }}">
  <script src="https://kit.fontawesome.com/fe4afa1b9f.js" crossorigin="anonymous"></script>
  <script defer src="{{ url_for('static', filename='login-enter.js') }}"></script>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{ messages[0] }}");
    </script>
  {% endif %}
  {% endwith %}
</head>
<body>

  <div class="body-box">
    <div class="home">
      <h1><a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i></a></h1>
    </div>

    <div class="login-container">
      <h2 class="h2h2">회원가입</h2>
      <form method="POST">

        <div class="form-inline">
          <label for="username">이름</label>
          <input class="input1" type="text" id="username" name="name" placeholder="이름을 입력하세요" required>
        </div>

        <div class="form-inline">
          <label class="gender">성별</label>
          <div class="gender-options">
            <input type="radio" id="male" name="gender" value="male" required> <!--required는 폼 필드가 반드시 입력되어야 함을 명시하는 속성이에요.-->
            <label for="male">남자</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">여자</label>
          </div>
        </div>

        <div class="form-inline">
          <label for="id">ID</label>
          <input class="input1" type="text" id="id" name="id" placeholder="아이디를 입력하세요" required>
        </div>

        <div class="form-inline">
          <label for="password">PW</label>
          <input class="input2" type="password" id="password" name="pw" placeholder="비밀번호를 입력하세요" required>
        </div>

        <input type="submit" value="회원가입">

        <button class="login-enter">
          <a href="{{ url_for('login_enter') }}">로그인</a>
        </button>

      </form>
    </div>
  </div>

</body>
</html>
